*{
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
@font-face{
  font-family:title;
  src:url(fonts/CFGlitchCity-Regular.ttf);
}

body{
  margin:0;
  background: wheat;
}
header{
  margin:0;
  background-color:rgb(54, 114, 224);
  height: 80px;
}
header ul{
  font-family: Arial, Helvetica, sans-serif;
  float: right;
  margin-right: 20px;
}
header ul li{
  display: inline-block;
  line-height: 80px;
  margin-right: 10px;
}