@font-face{
  font-family:title;
  src:url(fonts/CFGlitchCity-Regular.ttf);
}

body{
  margin:0;
  background: wheat;
}
header{
  margin:0;
  background-color:red;
  padding:20px;
}
header h1{
  font-family: title;
    color: white;
    text-align: center;
    margin: 0;
    font-size: 18px; 
    position: relative;

}
header img{
 height: 20px;
 float: left;
}
header a:active{
 transform:rotate(90deg) ;
}
