body{
  margin:0;
  background:#F1F4FF;
}
header{
  margin:0;
  padding: 0;
  background-color:black;

}
ul li{
  display: inline-block;
  margin: 5px;
  color: #F1F4FF;
  
}
ul{
  margin: 0;
  padding: 20px;
  position: relative;
  text-align: center;
}
.home{
  margin-left: 0px;
}
.content{
  margin-right: 0px;
}