
*{
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
@font-face{
  font-family:title;
  src:url(fonts/CFGlitchCity-Regular.ttf);
}
@font-face{
  font-family:news;
  src:url(Aldrich-Regular.ttf);
}
body{
  margin:0;
  background: white;
  
}
header{
 z-index: +1;
  top:0;
  position: fixed;
  width: 100%;
  overflow: hidden;
  margin:0;
  background-color:rgb(255, 255, 255);
  height: 100px;
  filter: drop-shadow(0px 0.5px 3px gray)
}
header ul{
  font-family: 'Aldrich', Arial, Helvetica, sans-serif;
  position: relative;
  text-align: center;
}
header ul li{
  display:inline-block ;
  margin-left: 40px;
  margin-right: 40px;
}
.logoa{
  background-image: url(gamerpro.png);
  background-size: 180px;
  background-repeat: no-repeat;
  height: 60px;
  display: inline-block;
  text-indent: -9999999px;
  width: 200px;
  position: relative;
  top:-15px;
  left:15px;
  outline: none;

}
header .logo{
  position: relative;
  text-align: center;
}
header ul li a{
  color:black;
  position: relative;

}
header ul li a::after{
content: '' ;
position:absolute;
width: 100%;
height: 3px;
background-color: black;
bottom: 0;
left: 0;
top:30px;
transform: scale(0,1);
transition: transform 0.3s ease;
}
header ul li a:hover::after{
  transform: scale(1,1);

}

.slider{
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin-top: 100px;

}
.slider figure img{
  width: 20%;
  float: left;
  position: relative;
  
}


.slider figure{
width: 500%;
position: relative;
left: 0;
margin: 0;
animation: 20s slider infinite;
}
@keyframes slider {
  0% {
    left:0;
}
  25%{
    left: 0;
    }
  30%{
      left:-100%;
}
  60%{
    left:-100%;
  }
  65%{
    left:-200%;
  }
  95%{
    left:-200%;
  }
  100%{
    left:-300%;
  }
}
.slider div{
  position: absolute;
  z-index: +1;
  color: white;
  margin-top: 5%;
  font-size: 80px;
}
.all{
  display: inline-block;
  position: relative;
  text-align: center;
  width: 100%;
  font-family: 'news', Arial, Helvetica, sans-serif;
}
.news1{
  display: inline-block;
  margin-right:5% ;
  margin-top: 100px;
 position: relative;
}
.news1 img{
  height: 200px;
}
.news1 h1{
  color: black;
<<<<<<< HEAD
  font-size: 130%;
=======
  
  
>>>>>>> 19e04e026f1bae98ba7826311c67000fd32ed999
  
}



@media screen and (max-width: 600px){
  header ul li{
    display:inline-block;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
    font-family: 'Aldrich', Arial, Helvetica, sans-serif;
  }
  .news1{
    height: 200px;
    margin: 20px;
  }
  .news1 img{
    height: 80%;
  }
} 