
*{
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
@font-face{
  font-family:title;
  src:url(fonts/CFGlitchCity-Regular.ttf);
}
body{
  margin:0;
  background: white;
}
header{
  z-index: +1;
  top:0;
  position: fixed;
  width: 100%;
  overflow: hidden;
  margin:0;
  background-color:rgb(255, 255, 255);
  height: 100px;
  filter: drop-shadow(0px 0.5px 5px gray)
}
header ul{
  font-family: 'Aldrich', Arial, Helvetica, sans-serif;
  position: relative;
  text-align: center;
}
header ul li{
  display:inline-block ;
  margin-left: 40px;
  margin-right: 40px;
}
.logoa{
  background-image: url(gamerpro.png);
  background-size: 180px;
  background-repeat: no-repeat;
  height: 60px;
  display: inline-block;
  text-indent: -9999999px;
  width: 200px;
  position: relative;
  top:-15px;
  left:15px;
  outline: none;

}
header .logo{
  position: relative;
  text-align: center;
}
header ul li a{
  color:black;
}
header ul li a:hover{
  border-bottom: 1px solid black;
  padding-bottom:10px;
}
section{
  position: relative;
  overflow:hidden;
  height: 10000px;
  width: 100%;
  top:100px;
}
img{
  width: 20%;
  float: left;
}

figure{
width: 500%;
position: relative;
left: 0;
margin: 0;
animation: 20s slider infinite;
}
@keyframes slider {
  0% {
    left:0;
}
  25%{
    left: 0;
    }
  30%{
      left:-100%;
}
  60%{
    left:-100%;
  }
  65%{
    left:-200%;
  }
  95%{
    left:-200%;
  }
  100%{
    left:-300%;
  }
}


@media screen and (max-width: 600px){
  header ul li{
    display:inline-block;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
    font-family: 'Aldrich', Arial, Helvetica, sans-serif;
  }
}  
